@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
article {

    
  background: linear-gradient(
    rgba(0, 238, 255, 0),
    rgb(0, 0, 0) 
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: -50px;
}

h1 {  
  margin-top: -1%;
  font-family: Georgia, serif;
  font-size: 10vmin;
  line-height: 1.1;
}

body {
  background: #c7b39b url(https://media.discordapp.net/attachments/1031652490162229339/1031652580377497730/2nd_page.png?width=1609&height=905)
  center 
  no-repeat;
  background-size: 100%;
  opacity: 100%;
  min-block-size: 100%;
  min-inline-size: 100%;
  place-content: center;
  font-family: Georgia, serif;
  font-size: min(200%, 5vmin);
}


html {
  block-size: 100%;
  inline-size: 100%;
}

p {
  max-width: 1200px;
  margin-left: 0%;
  margin-top: 7%;
  line-height: 1.1;
  font-size: 78px;
  font-weight: 700;
  letter-spacing: .0125em;
  color: rgb(128, 119, 255);
}

a {
  color: rgb(255, 92, 181);
  display: inline-block;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: .07em;
  height: .1em;
  width: 100%;
  background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
  z-index: -1;
  transition: height .25s cubic-bezier(.6,0,.4,1);
}

a:hover::after {
  color: rgb(15, 219, 255);
  height: .2em;
}



#info {
  
  border-radius: 30px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  border: 4px solid rgb(0, 0, 0);
  background-color: rgba(70, 255, 255, 0.562);
  height: 600px;
  width: 1400px;
  margin-top: -650px;
  margin-left: 50%;
}

/* CSS button */
.button-1 {
  background-color: initial;
  background-image: linear-gradient(#8614f8 0, #760be0 100%);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 190px;
}

.button-1:hover {
  opacity: .7;
}

.button-2 {
    background-color: initial;
    background-image: linear-gradient(#8614f8 0, #760be0 100%);
    border-radius: 5px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #fff;
    cursor: pointer;
 
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 100px;
    width: 250px;
    line-height: 60px;
 
    outline: 0;
    text-align: center;
    transition: all .3s cubic-bezier(.05, .03, .35, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: bottom;

    margin: -20px;
    margin-left: 0%;
    margin-top: 0%;
  }

  .button-2:hover {
    opacity: .7;
  }
  