@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
article {

    
  background: linear-gradient(
    rgba(0, 238, 255, 0),
    rgb(0, 0, 0) 
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: -50px;
}

h1 {  
  margin-top: -1%;
  font-family: Georgia, serif;
  font-size: 10vmin;
  line-height: 1.1;
}

body {
  background: #000000 url(https://media.discordapp.net/attachments/1031652490162229339/1031652580377497730/2nd_page.png?width=1609&height=905)
  center 
  no-repeat;
  background-size: 100%;
  opacity: 100%;
  min-block-size: 100%;
  min-inline-size: 100%;
  place-content: center;
  font-family: Georgia, serif;
  font-size: min(200%, 5vmin);
}


html {
  block-size: 100%;
  inline-size: 100%;
}

p {
  max-width: 1200px;
  margin-left: 0%;
  margin-top: 7%;
  line-height: 1.1;
  font-size: 78px;
  font-weight: 700;
  letter-spacing: .0125em;
  color: rgb(128, 119, 255);
}

a {
  color: rgb(255, 92, 181);
  display: inline-block;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: .07em;
  height: .1em;
  width: 100%;
  background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
  z-index: -1;
  transition: height .25s cubic-bezier(.6,0,.4,1);
}

a:hover::after {
  color: rgb(15, 219, 255);
  height: .2em;
}


/* CSS buttons */
.button-1 {
  background-color: initial;
  background-image: linear-gradient(#8614f8 0, #760be0 100%);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 190px;
}

.button-1:hover {
  opacity: .7;
}

.button-2 {
    background-color: initial;
    background-image: linear-gradient(#8614f8 0, #760be0 100%);
    border-radius: 5px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #fff;
    cursor: pointer;
 
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 100px;
    width: 250px;
    line-height: 60px;
 
    outline: 0;
    text-align: center;
    transition: all .3s cubic-bezier(.05, .03, .35, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: bottom;

    margin: -20px;
    margin-left: 0%;
    margin-top: 0%;
  }

  .button-2:hover {
    opacity: .7;
  }

  #sendButton {

    background-color: initial;
    background-image: linear-gradient(#8614f8 0, #760be0 100%);
    border-radius: 5px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
    line-height: 60px;
    margin-top: 5%;
    margin-left: 20%;
    outline: 0;
    text-align: center;
    transition: all .3s cubic-bezier(.05, .03, .35, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: bottom;
    width: 190px;
  }
  
  .sendButton:hover {
    opacity: .7;
  }
  
  @media screen and (max-width: 1000px) {
    .sendButton {
      font-size: 14px;
      height: 55px;
      line-height: 55px;
      width: 150px;
    }
  }
  

  /* CSS priks formas */
  .comment-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .comment-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .comment-box .user-box {
    position: relative;
  }
  
  .comment-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .comment-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .comment-box .user-box input:focus ~ label,
  .comment-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .comment-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

  /* Izvades kartina*/
  .project {
    display: flex;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    width: 600px;
    margin-left: 5%;
    margin-top: 13%;
    background-color: #ffffff9f;
    word-spacing: -2px;
}

#saraksts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

.buttonSend {
  background-color: initial;
  background-image: linear-gradient(#8614f8 0, #760be0 100%);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 100px;
  width: 250px;
  line-height: 60px;

  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;

  margin: -20px;
  margin-left: 0%;
  margin-top: 0%;
}

.buttonSend:hover {
  opacity: .7;
}
  
.del{
  background-color: initial;
      background-image: linear-gradient(#e14aff7c 0, #e14aff7c 0);
      border-radius: 5px;
      border-style: none;
      box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 500;
      height: 60px;
  
      line-height: 60px;


      outline: 0;
      text-align: center;
      transition: all .3s cubic-bezier(.05, .03, .35, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: bottom;
      width: 190px;
}

.del:hover {
  opacity: .7;
}

@media screen and (max-width: 1000px) {
  .del {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 350px;
  }
}
  
  
