@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
article {

    
  background: linear-gradient(
    rgba(0, 238, 255, 0),
    rgb(0, 0, 0) 
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: -50px;
}

h1 {  
  opacity: 80%;
  margin-left: 28%;
  margin-top: -3%;
  font-family: Georgia, serif;
  font-size: 10vmin;
  line-height: 1.1;
}

body {
  background: #000000 url(https://media.discordapp.net/attachments/1031652490162229339/1031652580377497730/2nd_page.png?width=1609&height=905)
  center 
  no-repeat;
  background-size: 100%;
  opacity: 100%;
  min-block-size: 100%;
  min-inline-size: 100%;
  place-content: center;
  font-family: Georgia, serif;
  font-size: min(200%, 5vmin);
}


html {
  block-size: 100%;
  inline-size: 100%;
}

p {
  max-width: 1200px;
  margin-left: 0%;
  margin-top: 7%;
  line-height: 1.1;
  font-size: 78px;
  font-weight: 700;
  letter-spacing: .0125em;
  color: rgb(128, 119, 255);
}
/* Priekš div kartītei */
#planuIevade {
    align-items: center;
    top: 15%;
    left: 30%;
    position: absolute;
    margin:auto;
    width: 800px;
    height: 200px;
    font-family: cursive, sans-serif;
      background-color: #00e1ff7e;
      color: white;
      padding: 10px;
      border-radius: 4px;
      box-shadow: 2px 2px 20px 23px #00000073;
}

.project {
    display: flex;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    width: 600px;
    margin-left: 5%;
    margin-top: 13%;
    background-color: #e375ff8e;
    word-spacing: -2px;
}

#saraksts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* CSS buttons */
.del{
    background-color: initial;
        background-image: linear-gradient(#ff57577c 0, #e00b0b8f 100%);
        border-radius: 5px;
        border-style: none;
        box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 500;
        height: 60px;
    
        line-height: 60px;


        outline: 0;
        text-align: center;
        transition: all .3s cubic-bezier(.05, .03, .35, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: bottom;
        width: 190px;
  }
  
  .del:hover {
    opacity: .7;
  }
  
@media screen and (max-width: 1000px) {
    .del {
      font-size: 14px;
      height: 55px;
      line-height: 55px;
      width: 350px;
    }
}


#pievienotKartinu {

        background-color: initial;
        background-image: linear-gradient(#8614f8 0, #760be0 100%);
        border-radius: 5px;
        border-style: none;
        box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 500;
        height: 60px;
        line-height: 60px;
        margin-top: 5%;
        margin-left: 40%;
        outline: 0;
        text-align: center;
        transition: all .3s cubic-bezier(.05, .03, .35, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: bottom;
        width: 190px;
      }
      
      .pievienotKartinu:hover {
        opacity: .7;
      }
      
      @media screen and (max-width: 1000px) {
        .pievienotKartinu {
          font-size: 14px;
          height: 55px;
          line-height: 55px;
          width: 150px;
        }
      }

      .button-1 {
        background-color: initial;
        background-image: linear-gradient(#8614f8 0, #760be0 100%);
        border-radius: 5px;
        border-style: none;
        box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 500;
        height: 60px;
        line-height: 60px;
        margin-left: -4px;
        outline: 0;
        text-align: center;
        transition: all .3s cubic-bezier(.05, .03, .35, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: bottom;
        width: 190px;
      }
      
      .button-1:hover {
        opacity: .7;
      }
      
      @media screen and (max-width: 1000px) {
        .button-1 {
          font-size: 14px;
          height: 55px;
          line-height: 55px;
          width: 150px;
        }
      }
