@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
article {

    
  background: linear-gradient(
    to right, 
    rgb(194, 38, 255), 
    rgb(108, 194, 252)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: -50px;
}

h1 {  
  font-family: Georgia, serif;
  font-size: 10vmin;
  line-height: 1.1;
}

body {
  background: linear-gradient(
    to left, 
    rgb(230, 160, 230), 
    rgb(163, 212, 245)
  );
  opacity: 100%;
  min-block-size: 100%;
  min-inline-size: 100%;
  place-content: center;
  font-family: Georgia, serif;
  font-size: min(200%, 5vmin);
}


html {
  block-size: 100%;
  inline-size: 100%;
}

p {
  max-width: 1200px;
  margin-left: 0%;
  margin-top: 7%;
  line-height: 1.1;
  font-size: 78px;
  font-weight: 700;
  letter-spacing: .0125em;
  color: rgb(128, 119, 255);
}

a {
  color: rgb(255, 92, 181);
  display: inline-block;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: .07em;
  height: .1em;
  width: 100%;
  background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
  z-index: -1;
  transition: height .25s cubic-bezier(.6,0,.4,1);
}

a:hover::after {
  color: rgb(15, 219, 255);
  height: .2em;
}

@media (max-width: 1199px) {
  p {
    font-size: 58px;
  }
}

@media (max-width: 991px) {
  p {
    font-size: 44px;
  }
}

@media (max-width: 767px) {
  p {
    font-size: 34px;
  }
}

@media (max-width: 575px) {
  p {
    font-size: 26px;
  }
}

h2 {  
  font-family: Georgia, serif;

  color: 
    rgb(194, 38, 255);

}

h3 {  
  font-family: Georgia, serif;

  color: 
    rgb(149, 119, 255);

  margin-top: 70px;
}

#info {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  border: 3px solid black;
  background-color: rgb(183, 255, 255);
  height: 400px;
  width: 1000px;
  margin-top: 150px;
  margin-left: 70px;
}